<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.lx.gamecenter.dao.table.UserSiteDao">

	<select id="queryUserSiteListByGameIdAndGameStatus" resultType="UserSite">
		SELECT
		    id AS "id",
			user_id AS "userId",
			nickname AS "nickname",
			game_id AS "gameId",
			table_id AS "tableId",
			site_id AS "siteId",
			site_html_id AS "siteHtmlId",
			game_status AS "gameStatus",
			user_poker AS "userPoker"
		FROM
		    GC_USER_SITE
		WHERE
			game_id = #{gameId}
	</select>

</mapper>
