<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.lx.gamecenter.dao.game.GameDao">

	<select id="queryGameList" resultType="Game">
		SELECT
			id AS "id",
			game_name AS "gameName",
			game_url AS "gameUrl",
			max_site_num AS "maxSiteNum"
		FROM
			GC_GAME
	</select>
	
	<select id="queryGameNameById" resultType="Game">
		SELECT
			id AS "id",
			game_name AS "gameName",
			game_url AS "gameUrl",
			max_site_num AS "maxSiteNum"
		FROM
			GC_GAME	
		WHERE id = #{id}
	</select>

</mapper>
